<h1>Search Results</h1>

<% @facade.all_foods.each do |food| %>
  <ul class="food">
    <li class="code">Food Code: <%= food.code %></li>
    <li class="description">Food: <%= food.description %></li>
    <li class="brand">Brand: <%= food.brand %></li>
    <li class="ingredients"> Ingredients Listed: <%= food.ingredients %></li>
  </ul>
<% end %>
